body {
    background-color: #fff;
    padding: 50px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    margin: 0 0 20px;
}
ol,
p,
ul {
    margin: 0 0 20px;
}
h1,
h2,
h3 {
    line-height: 1.1;
}
h1 {
    font-size: 28px;
}
h2 {
    color: #393939;
}
h3,
h4,
h5,
h6 {
    color: #494949;
}
a {
    color: #267CB9;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #069;
    font-weight: bold;
}
.wrapper {
    width: 860px;
    margin: 0 auto;
}
dt {
    color: #444;
    font-weight: 700;
}
img {
    max-width: 100%;
}
header {
    width: 270px;
    float: left;
    -webkit-font-smoothing: subpixel-antialiased;
}
header ul#links-bar {
    list-style: none;
    height: 40px;
    padding: 0;
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    width: 270px;
}
header ul#links-bar li {
    width: 89px;
    float: left;
    border-right: 1px solid #e0e0e0;
    height: 40px;
}
header ul#links-bar li:first-child a {
    border-radius: 5px 0 0 5px;
}
header ul#links-bar li:last-child a {
    border-radius: 0 5px 5px 0;
}
header ul#links-bar a {
    line-height: 1;
    font-size: 11px;
    color: #676767;
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 34px;
}
header ul#links-bar a:focus,
header ul#links-bar a:hover {
    color: #675C5C;
    font-weight: bold;
}
header ul#links-bar a:active {
    background-color: #f0f0f0;
}
strong {
    color: #222;
    font-weight: 700;
}
header ul#links-bar li+li+li {
    border-right: none;
    width: 89px;
}
header ul#links-bar a strong {
    font-size: 14px;
    display: block;
    color: #222;
}
section {
    width: 500px;
    float: right;
    padding-bottom: 50px;
}
@media print, screen and (max-width: 960px) {
    div.wrapper {
        width: auto;
        margin: 0;
    }
    header,
    section {
        float: none;
        position: static;
        width: auto;
    }
    header {
        padding-right: 320px;
    }
    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }
    header ul#links-bar {
        position: absolute;
        right: 50px;
        top: 52px;
    }
}
@media print, screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }
    header {
        padding: 0;
    }
    header ul#links-bar {
        position: static;
    }
}
@media print, screen and (max-width: 480px) {
    body {
        padding: 15px;
    }
    header ul#links-bar {
        width: 99%;
    }
    header ul#links-bar li,
    header ul#links-bar li+li+li {
        width: 33%;
    }
}
@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}

ul.ul-no-style {
    list-style: none;
}

ol img, ul img {
    margin: 10px 0 10px 0;
}

em.disclaimer {
    color: red;
}

nav #menu, nav #menu li ul {
    list-style: none;
}

nav #menu {
    margin: margin: 0 0 20px 0;
    padding: 0;
}

nav #menu li ul {
    margin: 0 0 0 10px;
    padding: 0;
}
